{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "browsers": ["and_chr >= 61"]
                }
            }
        ]
    ]
}
